<%= render "home/header" %>

<% images = ["1", "2", "3"] %>

<div id="line-1" class="linesheet">
  <div class="line line-1"></div>
  <div class="row collapse">
    <div class="medium-3 columns">
      <h2>Petale de rose</h2>
      <a href="" class="button">
        shop now
      </a>
    </div>
    <% 1.upto(3) do %>
      <div class="medium-3 columns">
        <div class="product">
          <div class="content">
            <%= image_tag "products/#{cycle(*images, name: "line1")}.png" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row collapse">
    <div class="medium-3 columns">
      <p class="quote text-right">
        <i class="icon-open-quote quote"></i>&nbsp;&nbsp;
      </p>
    </div>
    <div class="medium-6 columns">
      <div class="about-line">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum vitae quam facilisis pretium. Donec rhoncus quis urna suscipit fringilla. Aenean fringilla purus nec mauris tempor maximus.</p>
        <p>Integer condimentum et diam et sodales. Mauris eget justo eget metus blandit accumsan vitae interdum justo.</p>

        <p class="author">&mdash; Danica Zheng</p>
      </div>
    </div>
    <div class="columns"></div>
  </div>
</div>

<div id="line-1" class="linesheet">
  <div class="line line-2"></div>
  <div class="row collapse">

    <% 1.upto(3) do %>
      <div class="medium-3 columns">
        <div class="product">
          <div class="content">
            <%= image_tag "products/#{cycle(*images, name: "line2")}.png" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="medium-3 columns">
      <div class="fake-column">
        <h2 class="title-right">Pample<br>Mousse</h2>
        <a href="" class="button">
          shop now
        </a>
      </div>
    </div>
  </div>

  <div class="row collapse">
    <div class="medium-6 medium-push-3 columns">
      <div class="about-line">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum vitae quam facilisis pretium. Donec rhoncus quis urna suscipit fringilla. Aenean fringilla purus nec mauris tempor maximus.</p>
        <p>Integer condimentum et diam et sodales. Mauris eget justo eget metus blandit accumsan vitae interdum justo.</p>
        <p class="author">&mdash; Danica Zheng</p>
      </div>
    </div>
    <div class="medium-3 columns">
      <p class="quote">
        &nbsp;&nbsp;<i class="icon-close-quote"></i>
      </p>
    </div>
  </div>
</div>

<div id="line-1" class="linesheet">
  <div class="line line-3"></div>
  <div class="row collapse">
    <div class="medium-3 columns">
      <h2>Petale de rose</h2>
      <a href="" class="button">
        shop now
      </a>
    </div>
    <% 1.upto(3) do %>
      <div class="medium-3 columns">
        <div class="product">
          <div class="content">
            <%= image_tag "products/#{cycle(*images, name: "line3")}.png" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row collapse">
    <div class="medium-3 columns">
      <p class="quote text-right">
        <i class="icon-open-quote quote"></i>&nbsp;&nbsp;
      </p>
    </div>
    <div class="medium-6 columns">
      <div class="about-line">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum vitae quam facilisis pretium. Donec rhoncus quis urna suscipit fringilla. Aenean fringilla purus nec mauris tempor maximus.</p>
        <p>Integer condimentum et diam et sodales. Mauris eget justo eget metus blandit accumsan vitae interdum justo.</p>

        <p class="author">&mdash; Danica Zheng</p>
      </div>
    </div>
    <div class="columns"></div>
  </div>
</div>

<%= render "layouts/footer" %>
