<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link href="https://fontastic.s3.amazonaws.com/EDwViVDJ5GVSCLqLwoohRH/icons.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_classes %>">

    <div id="page">
      <%= render "layouts/nav" %>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      $(function() {
        <%= yield :dom_ready %>
      });
    </script>
  </body>
</html>
